/*goes with body with body - gene*/
body {
  width: 900px;
  margin: 0 auto;
}

/*goes with instructions - gene*/
p.instructions {
  text-indent: 30px;
}
/*goes with womans profile pic - gene*/
#profile-pic {
  float: left;
}

#clicker {
  float: right;
  
}

#bottom-center {
  text-align: center;
}

.indent {
  margin-left: 90px;
}

.fork-logo {
  display: inline-block;

}
.title {
  display:inline-block;
}
.delicious {
  font-style: bold;
  display: block;
  font-family: 'Yellowtail', cursive;
  font-size: 30px;
  margin-bottom: -15px;
}
.recipe-name{
  font-family: 'Anton', sans-serif;
  font-size: 40px;
  display: block;
  margin-top: 60px;

}
.post-date{
  font-family: 'Abel', sans-serif;
  font-size: 15px;

}
ul li {
  display: inline;
}


.best-food {
  display: block;
  font-size: 10px;
  font-family: 'Abel', sans-serif;
  color: #777;
}
.header-right {
  float: right;
}

.print-btn{
  display: inline;
}

.break-line-top {
  display: inline-block;
  width: 900px;
  border-bottom: 7px #eaeaea solid;
  padding-top: 15px;
}
.shopping-list {
  display: block
}
.recipe-steps {
  padding: 10px 0px;
  text-indent: 2em;
  color: #666;
  line-height: 1.5;
}

.share-icons {
  float: right;
  list-style: none;
  display: inline;
  margin-left: 700px;
  margin-top: -30px;
}

input[type="checkbox"]:checked + label {
 text-decoration: line-through;
}
.shopping-list {
  height: 300px;
  margin-bottom: 15px;
}

.shopping-list {
  margin-right: 100px;
  margin-left: 60px;
  margin-top: 37px;
  line-height: 2;
  display: inline-grid;
}


.instructions {
font-family: 'Patrick Hand', cursive;
font-size: 18px;
}

}
.header-logo {
  font-size: 8px;
  display: block;
  margin-left: 55px;
}
.footer-line-l {
  display: inline-block;
  float: left;
  width: 423px;
  border-bottom: 1px #eaeaea solid;
  padding-top: 15px;
}
.footer-line-r {
  display: inline-block;
  float: right;
  width: 423px;
  border-bottom: 1px #eaeaea solid;
  padding-top: 15px;
}
